<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="contact-area">
      <h2 id="contact" style="margin-bottom: 20px; margin-top: 40px">
        Contact Me
      </h2>
      <p>Email: lieric421@gmail.com</p>
      <p style="margin-bottom: 40px">Phone: +1 (819)-576-6180</p>
      <h2>My socials</h2>
      <div class="socials-box">
        <a
          href="https://www.linkedin.com/in/eric-li-3277262b1/"
          target="_blank"
        >
          <img
            src="/assets/icons/linkedin.svg"
            alt="LinkedIn"
            class="social-icon"
          />
        </a>
        <a href="https://github.com/ericli421" target="_blank">
          <img
            src="/assets/icons/github-light.svg"
            alt="GitHub"
            class="social-icon"
          />
        </a>
        <a href="https://www.instagram.com/ericli.421/" target="_blank">
          <img
            src="/assets/icons/instagram-bordered.svg"
            alt="Instagram"
            class="social-icon"
          />
        </a>
        <a href="mailto:lieric421@gmail.com" target="_blank">
          <img
            src="/assets/icons/email-closed.svg"
            alt="Email Me"
            class="social-icon"
          />
        </a>
      </div>
    </div>
  </body>
</html>
