<div class="project-display-area">
  <h2>Featured Projects</h2>
  <div class="featured-projects">
    <div class="featured-project">
      <h3>Portfolio Website 1.0</h3>
      <p>
        Designed and developped a static personal portfolio website from
        scratch, the one you're on right now! Developped using HTML, CSS and a
        tiny bit of Javascript.
      </p>
      <a href="/pages/projects/0.html" class="read-full-post-button"
        >Read Full Post >></a
      >

      <div class="project-links">
        <a
          href="https://github.com/ericli421/portfolio-webpage"
          target="_blank"
        >
          <img
            src="/assets/icons/github-dark.svg"
            alt="Source code"
            title="Source code"
            class="project-link-icon"
          />
        </a>
      </div>
    </div>
  </div>
  <a href="/pages/projects.html" class="project-link-button"
    >See all projects
  </a>
</div>
