<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INSERT PROJECT NAME HERE</title>

    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/contact.css" />
    <link rel="stylesheet" href="/styles/fonts.css" />
    <link rel="stylesheet" href="/styles/project-template.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="header-bar" id="header-placeholder">
        <script>
          fetch("/components/header-bar.html")
            .then((response) => response.text())
            .then((html) => {
              document.getElementById("header-placeholder").innerHTML = html;
            })
            .catch((error) =>
              console.error("Error loading header-bar:", error)
            );
        </script>
      </div>

      <div class="project-flexbox">
        <div class="project-left-empty"></div>
        <div class="project-area">
          <div class="project-headlines-area">
            <div class="project-headline-text-area">
              <div class="project-title-area">
                <h2>INSERT PROJECT NAME HERE</h2>
                <h4>INSERT PROJECT SUMMARY HERE</h4>
                <h6>Project Duration: dd/mm/20yy -- dd/mm/20yy</h6>
              </div>
              <div class="project-skills-used">
                <h5>Skills Developed</h5>
                <div class="project-skills-icons">
                  <div class="project-skill-icon">
                    <img
                      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg"
                      alt="C"
                      class="skills-icon"
                      title="C"
                    />
                    <p>C</p>
                  </div>
                  <div class="project-skill-icon">
                    <img
                      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg"
                      alt="C"
                      class="skills-icon"
                      title="C"
                    />
                    <p>C</p>
                  </div>

                  <div class="project-skill-icon">
                    <img
                      src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg"
                      alt="C"
                      class="skills-icon"
                      title="C"
                    />
                    <p>C</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="project-image-area">
              <img
                src="/assets/images/me.png"
                alt="Project Image"
                class="project-image"
              />
            </div>
          </div>

          <div class="project-description-area">
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
              faucibus ex sapien vitae pellentesque sem placerat. In id cursus
              mi pretium tellus duis convallis. Tempus leo eu aenean sed diam
              urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum
              egestas. Iaculis massa nisl malesuada lacinia integer nunc
              posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad
              litora torquent per conubia nostra inceptos himenaeos.
            </p>

            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
              faucibus ex sapien vitae pellentesque sem placerat. In id cursus
              mi pretium tellus duis convallis. Tempus leo eu aenean sed diam
              urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum
              egestas. Iaculis massa nisl malesuada lacinia integer nunc
              posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad
              litora torquent per conubia nostra inceptos himenaeos.
            </p>
            <div class="project-page-image">
              <img
                src="/assets/images/placeholder.jpg"
                alt="Placeholder Image"
                class="project-full-page-image"
              />
              <p class="image-subtitle">Image Subtitle</p>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque
              faucibus ex sapien vitae pellentesque sem placerat. In id cursus
              mi pretium tellus duis convallis. Tempus leo eu aenean sed diam
              urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum
              egestas. Iaculis massa nisl malesuada lacinia integer nunc
              posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad
              litora torquent per conubia nostra inceptos himenaeos.
            </p>
          </div>
        </div>
        <div class="project-right-empty"></div>
      </div>

      <div class="contact-area" id="contact-placeholder">
        <script>
          fetch("/components/contact-area.html")
            .then((response) => response.text())
            .then((html) => {
              document.getElementById("contact-placeholder").innerHTML = html;
            })
            .catch((error) =>
              console.error("Error loading contact-area:", error)
            );
        </script>
      </div>
    </div>
  </body>
</html>
