/* These two fonts are currently unused. They were considered at some point but were not used in the final design. They are kept here for reference and potential future use. */
@font-face {
  font-family: "Connection II";
  src: url("../assets/fonts/connectionii.otf") format("opentype");
}
@font-face {
  font-family: "Joystix Monospace";
  src: url("../assets/fonts/joystix-monospace.otf") format("opentype");
}
/* Current font */
@font-face {
  font-family: "OS X Darwin";
  src: url("../assets/fonts/os_x_darwin.ttf") format("truetype");
}
/* Site wide */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "OS X Darwin", sans-serif;
  margin: 0;
}
h1 {
  font-size: 4rem;
  font-family: "OS X Darwin", sans-serif;
  margin: 0;
}
h2 {
  font-size: 3rem;
  font-family: "Joystix Monospace";
  justify-self: center;
}
h3 {
  font-family: "Connection II", sans-serif;
  margin: 0;
}

/* Beginning of structure */
.summary-box,
.competency-box,
.projects-box {
  width: 100%;
  height: 95vh;
}

.summary-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f0f0ff;
}
.summary-text-box {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 4px solid black;
  box-shadow: 1px 1px 2px black;
  max-width: 60%;
  margin-right: 40px;
  text-align: center;
}
.competency-box {
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.skills-box,
.education-box {
  width: 50%;
}
.skills-box {
  align-content: center;
  justify-items: center;
  text-align: center;
}
.skills-languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skills-languages-box {
  padding: 20px;
}
.skills-languages-icon {
  width: 40px;
  height: 40px;
}
.education-box {
  align-content: center;
}
.education-school-icon {
  width: 80px;
}
