/* These two fonts are currently unused. They were considered at some point but were not used in the final design. They are kept here for reference and potential future use. */
@font-face {
  font-family: "Connection II";
  src: url("../assets/fonts/connectionii.otf") format("opentype");
}
@font-face {
  font-family: "Joystix Monospace";
  src: url("../assets/fonts/joystix-monospace.otf") format("opentype");
}
/* Current font */
@font-face {
  font-family: "OS X Darwin";
  src: url("../assets/fonts/os_x_darwin.ttf") format("truetype");
}
/* Site wide */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "OS X Darwin", sans-serif;
  margin: 0;
}
h1 {
  font-size: 4rem;
  font-family: "OS X Darwin", sans-serif;
  margin: 0;
}
h2 {
  font-size: 4rem;
  font-family: "Joystix Monospace";
  margin: 0;
}
h3 {
  margin: 0;
  font-size: 2.15rem;
}
h4 {
  font-family: "Connection II", sans-serif;
  font-size: 20px;
  margin: 0;
}
p {
  margin: 0;
}

/* Beginning of structure */
.summary-box,
.competency-box,
.projects-box {
  width: 100%;
  height: 95vh;
}

.summary-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f0f0ff;
}
.summary-text-box {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 4px solid black;
  box-shadow: 1px 1px 2px black;
  max-width: 60%;
  margin-right: 40px;
  text-align: center;
}
.competency-box {
  display: flex;
  flex-direction: row;
  background: #e0e0e0;
}
.skills-box,
.education-box {
  width: 50%;
}
.skills-box {
  align-content: center;
  justify-items: center;
  text-align: center;
}
.skills-section {
  margin-top: 30px;
}
.skills-languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skills-languages-box {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.skills-languages-icon {
  width: 40px;
  height: 40px;
}
.education-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.education-school {
  margin-top: 50px;
  display: flex;
}
.education-school-icon {
  width: clamp(50px, 95%, 120px);
  height: auto;
}

.education-school-icon-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  border: double black;
  margin-right: 40px;
  width: clamp(50px, 100%, 120px);
  height: 100%;
  aspect-ratio: 1/1;
  box-shadow: 1px 1px 2px black;
}

.education-school-box {
  display: flex;
  align-items: center;
}

.education-school-info-frame {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  height: auto;
  flex-grow: 1;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: black;
  font-family: "OS X Darwin", sans-serif;
  padding: 10px 10px;
  font-size: 16px;
  border-style: double;
  border-color: black;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: solid black 1px;
}

.dropdown-content a,
.dropdown-content p {
  color: black;
  padding: 10px 30px;
  text-decoration: none;
  display: block;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
  background-color: #efefef;
}
