h4 {
  padding-bottom: 20px;
}
/* Beginning of structure */
.summary-box,
.competency-box,
.projects-box {
  width: 100%;
  height: 95vh;
  border-bottom: solid black 4px;
}

.summary-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #f0f0ff; */
  background-image: linear-gradient(lightblue, lightpink),
    url("/assets/images/background.png");
  background-size: cover;
  background-blend-mode: color-burn;
}
.summary-text-box {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: double black 12px;
  box-shadow: 1px 1px 2px black;
  max-width: 60%;
  margin-right: 20px;
  text-align: center;
}
.summary-picture-box {
  background-color: white;
  border: solid black 8px;
  padding: 1%;
}

.profile-picture {
  max-width: 350px;
  height: auto;
}
.competency-box {
  display: flex;
  flex-direction: row;
  background: #faf5e4;
}
.skills-box,
.education-box {
  width: 50%;
}
.skills-box {
  align-content: center;
  justify-items: center;
  text-align: center;
}
.skills-section {
  margin-top: 30px;
}
.skills-languages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skills-languages-box {
  padding: 10px;
  margin: 10px;
}
.skills-languages-icon {
  width: 40px;
  height: 40px;
  background-color: rgba(167, 138, 214, 0.2);
  border: solid black 2px;
  border-radius: 4%;
  padding: 4px;
}
.education-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.education-school {
  margin-top: 50px;
  display: flex;
}
.education-school-icon {
  width: clamp(50px, 95%, 120px);
  height: auto;
}

.education-school-icon-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(117, 88, 164, 0.5); */
  background-color: rgba(0, 0, 0, 0.2);
  border: double black;
  margin-right: 40px;
  width: clamp(50px, 100%, 120px);
  height: auto;
  aspect-ratio: 1/1;
  box-shadow: 1px 1px 2px black;
}

.education-school-box {
  display: flex;
  align-items: center;
}

.education-school-info-frame {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  height: auto;
  flex-grow: 1;
  align-content: stretch;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: white;
  color: black;
  font-family: "OS X Darwin", sans-serif;
  padding: 10px 10px;
  font-size: 16px;
  border-style: double;
  border-color: black;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: solid black 1px;
}

.dropdown-content a,
.dropdown-content p {
  color: black;
  padding: 10px 30px;
  text-decoration: none;
  display: block;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
  background-color: #efefef;
}
