.contact-area > h1,
.contact-area > h2,
.contact-area > h3,
.contact-area > h4,
.contact-area > h5,
.contact-area > h6,
.contact-area > p {
  color: white;
  text-shadow: -2px 4px 0px rgba(255, 255, 255, 0.2);
}

.contact-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: black;
}
.socials-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px;
}

.social-icon {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.social-icon:hover {
  transform: scale(1.05);
}
.social-icon:active {
  transform: scale(1.02);
}
