@font-face {
  font-family: "Connection II";
  src: url("../assets/fonts/connectionii.otf") format("opentype");
}

.header-bar {
  display: flex;
  padding: 1vh;
}
.header-empty {
  width: 60%;
}
.header-buttons-box {
  display: flex;
  order: 2;
  width: 40%;
  justify-content: right;
}
.header-button {
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5vh 1vw;
  font-family: "Connection II", sans-serif;
  text-decoration: none;
  margin-left: 2%;
  box-shadow: 3px 3px 0px black;
}
.main-container {
  display: grid;
  grid-template-rows: 95vh 95vh 95vh;
  grid-template-columns: 1fr;
}
.home-box {
  background-color: aliceblue;
  align-content: center;
  border: none;
}
.projects-box {
  background-color: aliceblue;
}
